.bigContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url("https://images.pexels.com/photos/4046718/pexels-photo-4046718.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.container {
  background-color: rgba(84, 73, 93, 0.2);
  width: 350px;
  height: 450px;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

.login {
  margin-top: 0px;
}

input {
  border-radius: 20px;
  padding: 10px;
  margin: 20px 50px;
}

.buttonForm {
  width: 100px;
  border-radius: 20px;
  padding: 5px;
  margin-left: 30%;
  font-weight: 700;
  color: #5d4954;
  background-color: whitesmoke;
  cursor: pointer;
}

textarea {
  border-radius: 15px;
  margin-bottom: 10px;
  margin-left: 7%;
}

textarea::placeholder {
  text-align: center;
}

.smallContainer input,
textarea {
  background-color: rgba(84, 73, 93, 0.2);
}
